*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: white !important;
}

// ***** HEADER ***** //

.brand{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.navbar-brand{
  margin-left: 3%;
}

.icon-nav{
  font-size: 30px;
}

// ***** FOOTER ***** //

footer{
  padding: 1%;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  .footer-contain{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;


    section{
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;


      a{
        color: white;
        transition: 0.5s;
        text-decoration: none;
      }
    }
  }
}

.logo-footer{
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.footer-section1{

}

.footer-section2{

}

.footer-section3{
  right: 1%;
}
