*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  background-color: white !important;
}



          // ***** HEADER ***** //

.brand{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo{
  height: 60px;
  width: 60px;
  border-radius: 10px;
}

.navbar-brand{
  margin-left: 3%;
}

.icon-nav{
  font-size: 30px;
}

.name-user{
  font-size: 20px;
}

.home-link {
  transition: 0.2s;
}
.home-link:hover{
  color:
          #6cc3d5;
}

.discussion-link{
  transition: 0.2s;
}
.discussion-link:hover{
  color: #ff7851;
}

.profil-link{
  transition: 0.2s;
}
.profil-link:hover{
  color: #ffce67;
}




          // ***** FOOTER ***** //

footer{
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  .footer-part{
    display: flex;
    flex-direction: column;
    align-items: center;

    a{
      text-decoration: none;
      color: white;
    }

    a:hover

    h5{
      color: black;
    }
  }
}

.logo-footer{
  height: 60px;
  width: 60px;
  border-radius: 10px;
}


