{% extends 'template.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_PATH }}/View/css/discussion.css">
{% endblock %}

{% block content %}

    <section class="container">
        <section class="col">
            <section class="row chat-panel">
                <section class="chat-members">
                    <div>
                       <img class="chat-picture img-thumbnail" src="{{ session.user.picture }}" alt="photo de profil">
                    </div>
                </section>
                <section class="chat-display">
                    a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>a<br>
                </section>
            </section>
            <section class="row">
                <form class="form-inline">
                    <div class="form-group">
                        <input type="button" class="form-control button-send" placeholder="uhoh">
                        <textarea name="" id="desc" cols="30" rows="5"></textarea>
                    </div>
                </form>
            </section>
        </section>
    </section>

{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}