{% extends 'template.twig' %}

{% block content %}

<section>
    <meta name="google-signin-client_id" content="715843356551-u92it250uv3rljvhk0jdfkck5qmmm9m8.apps.googleusercontent.com">

    <a href="#" onclick="signOut();">Sign out</a>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
</section>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{BASE_PATH}}/js/script.js"></script> <!--script google-->
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}