<footer class="bg-dark">
    <section class="container-fluid footer-contain">
        <section class="footer-section1">
            <h5>Author</h5>
            <a href="https://github.com/joris-verguldezoone">Joris Verguldezoone</a>
            <a href="https://github.com/william-kies">William Kies</a>
            <a href="https://github.com/guillaume-grac">Guillaume Grac</a>
        </section>
        <section class="footer-section2">
            <img class="img-thumbnail logo-footer" src="{{ BASE_PATH }}/View/images/logo-la-plateforme-resized.png" alt="Logo de la Plateforme_">
            <h5>Plateforme Network</h5>
        </section>
        <section class="footer-section3">
            <h5>Link</h5>
            <a href="{{ BASE_PATH }}/">Home</a>
            <a href="{{ BASE_PATH }}/profil">Profil</a>
            <a href="{{ BASE_PATH }}/chat">Chat</a>
        </section>
    </section>
</footer>