<footer class="bg-primary">
    <section class="container-fluid">
        <section class="row py-3">
            <section class="col-sm footer-part">
                <h5>Author</h5>
                <a href="https://github.com/joris-verguldezoone">Joris Verguldezoone</a>
                <a href="https://github.com/william-kies">William Kies</a>
                <a href="https://github.com/guillaume-grac">Guillaume Grac</a>
            </section>
            <section class="col-sm footer-part">
                <img class="img-thumbnail logo-footer" src="{{ BASE_PATH }}/View/images/logo-la-plateforme-resized.png" alt="Logo de la Plateforme_">
                <h5>Plateforme Network</h5>
            </section>
            <section class="col-sm footer-part">
                <h5>Link</h5>
                <a href="{{ BASE_PATH }}/">Home</a>
                <a href="{{ BASE_PATH }}/profil">Profil</a>
                <a href="{{ BASE_PATH }}/chat">Chat</a>
            </section>
        </section>
    </section>
</footer>