{% extends 'template.twig' %}

{% block style %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ BASE_PATH }}/View/css/home.css">
{% endblock %}

{% block content %}

    <section class="container-fluid">
        <section class="main-content">

            <!--- Groupe and stats Panel --->
            <section class="groupe-panel">
                <h3><i class="fas fa-users"></i></h3>
                <section class="groupe-display">

                </section>
            </section>

            <!--- Feed --->
            <section class="feed-panel">
                <section class="post">
                    <div>
                        <img class="img-fluid" src="{{ BASE_PATH }}/View/images/default.png">
                        <p> Bonjour ceci est un post Bonjour ceci est un post Bonjour ceci est un post Bonjour ceci est un post Bonjour ceci est un post Bonjour ceci est un post Bonjour ceci est un post</p>
                    </div>
                    <div class="like-comment">
                        <p><span><i class="far fa-thumbs-up"></i></span> | J'aime</p>
                        <p><span><i class="far fa-comment-dots"></i></span> | Commenter</p>
                    </div>
                </section>
            </section>

            <!--- Story --->
            <section class="story-panel">
                <h3><i class="fas fa-history"></i></h3>
                <section class="story-display">

                </section>
            </section>

        </section>
    </section>

{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}