{% extends 'template.twig' %}

{% block style %}
{{ parent() }}
{% endblock %}

{% block content %}

<h1>Salut,</h1>
<p>Nous sommes sur la page d'accueil.</p>




{% endblock %}

{% block script %}
    {{ parent() }}
{% endblock %}