{% extends 'template.twig' %}

{% block style %}
    {{ parent() }}
{% endblock %}

{% block content %}

    <br>
    <br>
    <br>
    <br>

    <img src="{{ session.utilisateur.image }}" alt="" width="200">
    <h1>{{ session.user.name }}</h1>
{% endblock %}